@import url(http://fonts.googleapis.com/css?family=Lato);
html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
#submitPrompt {
  display: none;
}
#submitPrompt input[type="text"] {
  font-size: 4em;
  color: #333;
}
#submitPrompt input[type="submit"] {
  display: none;
}
#top {
  min-height: 200px;
  position: relative;
}
#top h1 {
  font-size: 4em;
}
#top h2#formlink {
  display: none;
  margin: 0;
  position: absolute;
  bottom: 20px;
}
#top h2#formlink a {
  text-decoration: underline;
}
#top h2#formlink a:link,
#top h2#formlink a:visited {
  color: #666;
}
#top h2#formlink a:hover,
#top h2#formlink a:focus,
#top h2#formlink a:active {
  color: #333;
  text-decoration: none;
}
#top,
#content {
  width: 80%;
  margin: auto;
}
#top {
  background: #FFF;
  color: #333;
  padding: 2%;
}
#content {
  background: #F0F0F1;
  color: #333;
  padding: 1%;
}
#content h2 {
  font-size: 2.7em;
  margin-bottom: 0;
}
#content h2:first-child {
  margin-top: 0;
}
