@import url(http://fonts.googleapis.com/css?family=Lato);

body{
	background: #A6C8BC;
	padding-top: 10px;
	padding-left: 23px;
    width: 1280px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

/* overscan off */

body{
    padding: 0;
    margin: 0;
}

/* back to normal */

#splashscreen, #idlewarning{
    position: absolute;
    z-index: 1000;
    background: #000;
    height: 100%;
    width: 100%;

    h1{
        color: #CCC;
        font-size: 190px;
        text-align: center;
        padding-top: 158px;
        width: 100%;
    }

    p{
        color: #666;
        font-size: 68px;
        margin: 0;
        text-align: center;
    }
}

#idlewarning{
    display: none;

    h1{
        padding-top: 40px;
    }

    p{
        margin-top: 19px;
    }
}

#content{
    background: #A6C8BC;
    margin: auto;
    padding: 50px;
    padding-top: 70px;
}

#notificationcontainer{
    width: 105%;
    background: #341940;
    color: #EDEDED;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 15px;
    box-shadow: -6px 3px 10px #333;
    display: none;
    position: absolute;
}

    #notification{
        margin: auto;
    }

#responses{
    margin-top: 0;
    display:none;
}

    #leftcol{
        float: left;
        padding-right: 120px;
        max-width: 440px;
    }

    #rightcol{
        float: left;
        max-width: 440px;
    }

#instructions{
    margin-top: 10px;
    font-size: 30px;
}

#status{
    color: #666;
    font-size: 40px;
    margin-top: 10px;
}

#scoreboard{
    clear: both;

    p{
        font-size: 30px;
        margin: 0;
    }
}

ul{
    list-style-type: none;
}

li{
    background: #FFF;
    border-bottom: 4px solid #333;
    padding: 10px;
    display: inline-block;
    font-size: 35px;
    color: #666;
    margin-bottom: 20px;
    max-width: 1024px;
    border-radius: 3px;

    em{
        font-family: sans-serif;
        padding-right: 10px;
        font-style: normal;
        font-weight: 900;
        color: #000;
    }
}

h1{
    font-size: 70px;
    margin: 0;
    line-height: 1.1em;
    width: 96%;
}

h2{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #444;
}

p{
    font-size: 24px;
}
