body{
	background: #666;
	padding-top: 18px;
	padding-left: 32px;
}

.messages {
	background: #EDEDED;
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20%;
    padding: 5px;
}